# GitHub CODEOWNERS
# For detail see: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @CoReason-AI

# Architectural constraints
/.github/workflows/ @CoReason-AI
